In [3]:
import pandas as pd
import numpy as np
import scipy.stats
import math
import warnings
warnings.filterwarnings("ignore")

In [4]:
####get state projections
df=pd.read_stata("/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/projection_data_age2_1_wbmk_v2.dta")
sl=pd.read_excel('/Users/hannahkamen/Downloads/statelookup2.xlsx')
df_m=df.merge(sl,on='statefip',how='inner')

In [8]:
df_gr=df_m.groupby(['state','abbrev'],as_index=False).agg({'fexthot_28':max,'fextcold':min})

In [11]:
df_gr.to_excel('/Users/hannahkamen/Downloads/temp_changes.xlsx')

In [5]:
list(df_m)

['id',
 'msa',
 'bpl',
 'chosen',
 'd_s',
 'd_r1',
 'd_r2',
 'inc_hat',
 'coll',
 'hot_ca',
 'cold_ca',
 'hot_w',
 'cold_w',
 'hot_mw',
 'cold_mw',
 'hot_ne',
 'cold_ne',
 'cold_coll',
 'hot_coll',
 'd_s_kid',
 'd_r1_kid',
 'd_r2_kid',
 'htem',
 'age',
 '_b_lnrho',
 '_b_cold_ca',
 '_b_cold_coll',
 '_b_cold_mw',
 '_b_cold_ne',
 '_b_hot_ca',
 '_b_hot_coll',
 '_b_hot_mw',
 '_b_hot_ne',
 '_b_hot_w',
 '_b_d_r1',
 '_b_d_r2',
 '_b_d_r2_kid',
 '_b_d_s',
 '_b_d_s_kid',
 '_b_inc_hat',
 '_b_cold',
 '_b_hot',
 '_b_lnavgtemp',
 '_b_lnlake',
 '_b_lnlake2',
 '_b_lnpop',
 '_b_lnsea',
 '_b_lnsea2',
 '_b_lnslope',
 'index',
 'regionfe',
 'statefip',
 'lnrho',
 'metarea',
 'hot',
 'cold',
 'avgtemp',
 'precip',
 'dewpt',
 'relhum',
 'sun',
 'lnsea',
 'lnsea2',
 'lnlake',
 'lnlake2',
 'lnslope',
 'lnden',
 'lnhsgrad',
 'lncoll',
 'lngrad',
 'lnage',
 'lnhisp',
 'lnblack',
 'lnprec',
 'lndewpt',
 'lnrelhum',
 'lnsun',
 'lnavgtemp',
 'lnpop',
 'lnmanu',
 'lngvt',
 'lnpropt',
 'lnincome',
 'lnwhite',
 'lncrime',
 'clizone',
 'fexthot_28',
 'fextcold',
 'fhot',
 'fcold',
 'fhot_ca',
 'fcold_ca',
 'fhot_w',
 'fcold_w',
 'fhot_mw',
 'fcold_mw',
 'fhot_ne',
 'fcold_ne',
 'fcold_coll',
 'fhot_coll',
 'shareb',
 'state',
 'abbrev']

In [172]:
logit_ready.groupby('msa',as_index=False).agg({'chosen':sum})

       msa  chosen
0      1.0    43.0
1      2.0   274.0
2      3.0    71.0
3      4.0   327.0
4      5.0   333.0
..     ...     ...
261  262.0    64.0
262  263.0   139.0
263  264.0   205.0
264  265.0    44.0
265  266.0    31.0

[266 rows x 2 columns]

In [173]:
len(logit_ready['id'].unique())

80000

In [170]:
###original ACS data
logit_ready=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/logit-ready_full_age2.dta')

In [174]:
state_split

,skl_2,skl_3,skl_4,skl_5,skl_6,skl_7,unskl_2,unskl_3,unskl_4,unskl_5,unskl_6,unskl_7,state,state_pop
0,0.039066,0.043793,0.049895,0.050821,0.052949,0.052439,0.049659,0.051701,0.061713,0.068419,0.077842,0.073515,alabama,4779736
1,0.033725,0.037637,0.041896,0.050265,0.054326,0.062497,0.052394,0.054326,0.057149,0.067102,0.085772,0.079879,alaska,710231
2,0.043527,0.049146,0.053954,0.052812,0.055992,0.057122,0.055556,0.054534,0.058304,0.061684,0.066981,0.063957,arizona,6392017
3,0.034571,0.038225,0.039881,0.039840,0.039991,0.040552,0.057044,0.058987,0.064886,0.074959,0.084375,0.085223,arkansas,2915918
4,0.049547,0.055820,0.060629,0.060760,0.064456,0.062925,0.049052,0.048254,0.054431,0.060285,0.064166,0.059776,california,37253956
5,0.050891,0.059419,0.068718,0.066541,0.071240,0.070321,0.042486,0.041339,0.044275,0.050225,0.061170,0.058470,colorado,5029196
6,0.044279,0.048966,0.061991,0.071462,0.076941,0.075756,0.031334,0.031788,0.041785,0.054525,0.064441,0.060485,connecticut,3574097
7,0.043753,0.047916,0.052200,0.054521,0.058164,0.058364,0.042993,0.043673,0.053681,0.058244,0.070173,0.072055,delaware,897934
8,0.140247,0.121548,0.089609,0.065095,0.061206,0.052563,0.022589,0.024750,0.024828,0.030642,0.032135,0.036299,district of columbia,601723
9,0.041316,0.046465,0.053441,0.057625,0.060969,0.059110,0.044957,0.045342,0.052955,0.063839,0.071039,0.065649,florida,18801310
10,0.046969,0.053566,0.062733,0.060126,0.060155,0.055081,0.051175,0.050912,0.058867,0.065811,0.070318,0.065200,georgia,9687653
11,0.038992,0.047179,0.052694,0.056533,0.064939,0.069943,0.044920,0.040450,0.050921,0.053593,0.063141,0.061659,hawaii,1360301
12,0.036529,0.042733,0.052271,0.047641,0.047849,0.052919,0.055697,0.056160,0.057040,0.063012,0.076369,0.074934,idaho,1567582
13,0.056342,0.057703,0.060006,0.060547,0.061652,0.057224,0.040324,0.042832,0.048792,0.059178,0.070557,0.068792,illinois,12830632
14,0.041126,0.045165,0.048107,0.047128,0.047871,0.045784,0.049850,0.053141,0.060353,0.068496,0.083119,0.078784,indiana,6483802
15,0.045581,0.045933,0.048295,0.048163,0.048152,0.047460,0.040999,0.041669,0.047911,0.062262,0.080415,0.083239,iowa,3046355
16,0.045556,0.046187,0.049527,0.051386,0.055964,0.055574,0.043319,0.043376,0.047874,0.059935,0.074956,0.072511,kansas,2853118
17,0.042022,0.045543,0.050793,0.050451,0.050605,0.045508,0.049483,0.053551,0.061620,0.070537,0.079102,0.078245,kentucky,4339367
18,0.041949,0.040219,0.040654,0.041242,0.043014,0.045511,0.054119,0.053813,0.062941,0.071710,0.085031,0.080455,louisiana,4533372
19,0.030044,0.037446,0.048169,0.050944,0.057421,0.063925,0.036330,0.039651,0.049257,0.066647,0.083519,0.078539,maine,1328361
20,0.050874,0.055287,0.065572,0.071575,0.075932,0.072569,0.035073,0.034184,0.044104,0.054195,0.061579,0.057842,maryland,5773552
21,0.058014,0.064007,0.070102,0.076169,0.080072,0.073878,0.028110,0.028115,0.036695,0.047866,0.054619,0.050980,massachusetts,6547629
22,0.039193,0.045177,0.054653,0.057913,0.059488,0.056933,0.042640,0.044921,0.054834,0.066644,0.082083,0.080511,michigan,9883640
23,0.048286,0.050720,0.056787,0.059098,0.063272,0.057506,0.036336,0.036557,0.044345,0.058447,0.076280,0.078769,minnesota,5303925
24,0.039312,0.043607,0.046903,0.044003,0.046206,0.048531,0.052087,0.053701,0.061471,0.067900,0.080128,0.082864,mississippi,2967297
25,0.046847,0.046052,0.047942,0.047688,0.050989,0.048575,0.049330,0.048598,0.055505,0.066351,0.080458,0.077992,missouri,5988927
26,0.036010,0.039600,0.041703,0.052364,0.057296,0.064440,0.040434,0.040651,0.043842,0.059073,0.077350,0.082499,montana,989415
27,0.048125,0.045912,0.049269,0.052245,0.053170,0.050575,0.038780,0.041974,0.042917,0.055693,0.074602,0.076816,nebraska,1826341
28,0.037645,0.040484,0.047461,0.045082,0.045805,0.046015,0.059562,0.062650,0.068603,0.073937,0.077827,0.069588,nevada,2700551
29,0.034504,0.042924,0.059578,0.065935,0.074121,0.071517,0.031290,0.032111,0.044261,0.058499,0.072174,0.067717,new hampshire,1316470
30,0.049858,0.057906,0.066866,0.069111,0.072765,0.068726,0.033732,0.036350,0.045976,0.057723,0.064852,0.059642,new jersey,8791894
31,0.032237,0.042328,0.047175,0.047590,0.060420,0.061357,0.053861,0.049086,0.054870,0.063375,0.074547,0.073016,new mexico,2059179
32,0.057996,0.059623,0.061754,0.065061,0.068013,0.065378,0.034441,0.035998,0.045273,0.057759,0.065357,0.063126,new york,19378102
33,0.045682,0.051705,0.060336,0.059991,0.060934,0.057842,0.045954,0.047303,0.055268,0.061953,0.067359,0.064263,north carolina,9535483
34,0.048380,0.049153,0.048235,0.050456,0.056637,0.056637,0.036357,0.032881,0.041717,0.052194,0.070639,0.080247,north dakota,672591
35,0.043981,0.045218,0.051503,0.052178,0.053546,0.053086,0.045030,0.046404,0.055763,0.065421,0.078801,0.079273,ohio,11536504
36,0.034794,0.038336,0.039384,0.041937,0.048684,0.050544,0.053967,0.053294,0.058240,0.064879,0.079817,0.076632,oklahoma,3751351
37,0.042470,0.053142,0.055616,0.056155,0.055963,0.061559,0.046267,0.047984,0.053142,0.056547,0.067895,0.071684,oregon,3831074
38,0.045683,0.046989,0.051179,0.052979,0.054979,0.054686,0.037590,0.039702,0.053020,0.065443,0.078943,0.079970,pennsylvania,12702379
39,0.043987,0.047165,0.058543,0.068459,0.069699,0.063596,0.037249,0.036454,0.046370,0.056445,0.064010,0.065186,rhode island,1052567
40,0.045479,0.047277,0.051856,0.051249,0.056035,0.054381,0.048915,0.049666,0.055204,0.064562,0.069932,0.068254,south carolina,4625364
41,0.044324,0.046007,0.044899,0.048839,0.053681,0.047854,0.041615,0.040179,0.046171,0.059427,0.076910,0.080399,south dakota,814180
42,0.040898,0.043260,0.048506,0.048882,0.049016,0.048743,0.051343,0.053851,0.063660,0.071529,0.077956,0.075460,tennessee,6346105
43,0.042711,0.048572,0.053505,0.052867,0.054681,0.053129,0.055525,0.056605,0.062428,0.065893,0.072268,0.067805,texas,25145561
44,0.055294,0.058703,0.054234,0.049292,0.049764,0.050326,0.065752,0.057988,0.055268,0.052318,0.061040,0.057094,utah,2763885
45,0.032167,0.040876,0.048779,0.056683,0.068663,0.069670,0.031714,0.034080,0.037050,0.058998,0.073043,0.075610,vermont,625741
46,0.055329,0.059231,0.065930,0.069002,0.073037,0.068434,0.038770,0.038663,0.045039,0.053511,0.062395,0.056939,virginia,8001024
47,0.047837,0.052906,0.061541,0.063126,0.067005,0.067258,0.042818,0.042139,0.048701,0.055765,0.065341,0.066019,washington,6724540
48,0.037676,0.041141,0.043310,0.042056,0.041290,0.047860,0.050178,0.053027,0.064508,0.076287,0.083176,0.085472,west virginia,1852994
49,0.038653,0.043074,0.050666,0.054204,0.054267,0.052684,0.040500,0.041262,0.051406,0.067455,0.086653,0.084789,wisconsin,5686986
50,0.035918,0.038979,0.043483,0.041347,0.051048,0.054109,0.051164,0.044292,0.051568,0.058902,0.079171,0.084310,wyoming,563626

In [129]:
####get population of worker type by state
state_split=pd.read_excel('/Users/hannahkamen/Downloads/state_pop_educ_shares.xlsx')
state_split=state_split[['skl_2',
 'skl_3',
 'skl_4',
 'skl_5',
 'skl_6',
 'skl_7',
 'unskl_2',
 'unskl_3',
 'unskl_4',
 'unskl_5',
 'unskl_6',
 'unskl_7',
 'state',
 'state_pop']]

In [126]:
#get sum of shares in all other states for people who chose states 1-44
#get ids that live in state s currentlly
master_map=pd.DataFrame()
for s in df_m['state'].unique():
    living_now=[]
    df_lm=df_m[(df_m['state']==s) & (df_m['chosen']==1)]
    ####list of ids currently living in state s
    living_now.append(list(df_lm['id'].unique())[0])
    ###limit dataframe to the ids of people living in state s
    tmp=df_m[df_m['id'].isin(living_now)]
    ####now groupby shares across all states
    tmp2=tmp.groupby(['state'],as_index=False).agg({'share':sum})
    ###tag origin state
    tmp2['living_flag']=s
    master_map=master_map.append(tmp2)

In [145]:
######merge with state populaiton
master_map0=master_map.merge(state_split,left_on='living_flag',right_on='state',how='inner')
master_map0=master_map0.rename(columns={'state_x':'moving_to'})

####get estimates for number of people leaving / going to
master_map0['arrive_moving_to']=master_map0['unskl_2']*master_map0['state_pop']

####merge in the msa codes

master_map0_lm=master_map0[master_map0['living_flag']=='texas']

###export texas test

master_map0_lm.to_csv('/Users/hannahkamen/Downloads/texas_out_unskl2.csv')

In [147]:
map_dta=pd.read_csv('/Users/hannahkamen/Downloads/census_texas.csv')

In [164]:
map_dta_lm=map_dta[map_dta['GEOID2'].str.contains(',')]

map_dta_lm['state']=map_dta_lm['GEOID2'].apply(lambda x: x.split(',')[1])
map_dta_lm['state']=map_dta_lm['GEOID2'].apply(lambda x: x.split(',')[1])

ValueError: cannot handle a non-unique multi-index!

In [163]:
map_dta_lm

                                                   GEOID1  \
19100 10180.0  Dallas-Fort Worth-Arlington, TX Metro Area
      10180.0  Dallas-Fort Worth-Arlington, TX Metro Area
      10180.0  Dallas-Fort Worth-Arlington, TX Metro Area
      10380.0  Dallas-Fort Worth-Arlington, TX Metro Area
      10380.0  Dallas-Fort Worth-Arlington, TX Metro Area
...                                                   ...
      49700.0  Dallas-Fort Worth-Arlington, TX Metro Area
      49700.0  Dallas-Fort Worth-Arlington, TX Metro Area
      49740.0  Dallas-Fort Worth-Arlington, TX Metro Area
      49740.0  Dallas-Fort Worth-Arlington, TX Metro Area
      49740.0  Dallas-Fort Worth-Arlington, TX Metro Area

                                         GEOID2 FULL1_NAME  FULL2_NAME  \
19100 10180.0            Abilene, TX Metro Area    MOVEDIN      1324.0
      10180.0            Abilene, TX Metro Area   MOVEDOUT      2736.0
      10180.0            Abilene, TX Metro Area   MOVEDNET     -1412.0
      10380.0  Aguadilla-Isabela, PR Metro Area    MOVEDIN       459.0
      10380.0  Aguadilla-Isabela, PR Metro Area   MOVEDOUT         0.0
...                                         ...        ...         ...
      49700.0          Yuba City, CA Metro Area   MOVEDOUT        38.0
      49700.0          Yuba City, CA Metro Area   MOVEDNET        73.0
      49740.0               Yuma, AZ Metro Area    MOVEDIN         0.0
      49740.0               Yuma, AZ Metro Area   MOVEDOUT        58.0
      49740.0               Yuma, AZ Metro Area   MOVEDNET       -58.0

               variable             estimate                 moe  \
19100 10180.0     454.0  c(-96.9312915512131   32.8656661278306)
      10180.0     428.0  c(-96.9312915512131   32.8656661278306)
      10180.0     689.0  c(-96.9312915512131   32.8656661278306)
      10380.0     413.0  c(-96.9312915512131   32.8656661278306)
      10380.0      28.0  c(-96.9312915512131   32.8656661278306)
...                 ...                  ...                 ...
      49700.0      52.0  c(-96.9312915512131   32.8656661278306)
      49700.0     135.0  c(-96.9312915512131   32.8656661278306)
      49740.0      28.0  c(-96.9312915512131   32.8656661278306)
      49740.0      57.0  c(-96.9312915512131   32.8656661278306)
      49740.0      57.0  c(-96.9312915512131   32.8656661278306)

                         centroid1           centroid2           state
19100 10180.0   c(-99.717678358008   32.4496900313019)   TX Metro Area
      10180.0   c(-99.717678358008   32.4496900313019)   TX Metro Area
      10180.0   c(-99.717678358008   32.4496900313019)   TX Metro Area
      10380.0  c(-67.0703611537066   18.3797715984677)   PR Metro Area
      10380.0  c(-67.0703611537066   18.3797715984677)   PR Metro Area
...                            ...                 ...             ...
      49700.0   c(-121.51791761597   39.1553061249823)   CA Metro Area
      49700.0   c(-121.51791761597   39.1553061249823)   CA Metro Area
      49740.0   c(-113.90556380393   32.7694043560789)   AZ Metro Area
      49740.0   c(-113.90556380393   32.7694043560789)   AZ Metro Area
      49740.0   c(-113.90556380393   32.7694043560789)   AZ Metro Area

[1119 rows x 10 columns]

In [160]:
map_dta['state']

19100  NaN        [Outside Metro Area within U.S. or Puerto Rico]
       NaN        [Outside Metro Area within U.S. or Puerto Rico]
       NaN        [Outside Metro Area within U.S. or Puerto Rico]
       NaN                                               [Africa]
       NaN                                               [Africa]
                                       ...
       49700.0                        [Yuba City,  CA Metro Area]
       49700.0                        [Yuba City,  CA Metro Area]
       49740.0                             [Yuma,  AZ Metro Area]
       49740.0                             [Yuma,  AZ Metro Area]
       49740.0                             [Yuma,  AZ Metro Area]
Name: state, Length: 1149, dtype: object

In [151]:
list(map_dta['GEOID2'])

['Outside Metro Area within U.S. or Puerto Rico',
 'Outside Metro Area within U.S. or Puerto Rico',
 'Outside Metro Area within U.S. or Puerto Rico',
 'Africa',
 'Africa',
 'Africa',
 'Asia',
 'Asia',
 'Asia',
 'Central America',
 'Central America',
 'Central America',
 'Caribbean',
 'Caribbean',
 'Caribbean',
 'Europe',
 'Europe',
 'Europe',
 'U.S. Island Areas',
 'U.S. Island Areas',
 'U.S. Island Areas',
 'Northern America',
 'Northern America',
 'Northern America',
 'Oceania and At Sea',
 'Oceania and At Sea',
 'Oceania and At Sea',
 'South America',
 'South America',
 'South America',
 'Abilene, TX Metro Area',
 'Abilene, TX Metro Area',
 'Abilene, TX Metro Area',
 'Aguadilla-Isabela, PR Metro Area',
 'Aguadilla-Isabela, PR Metro Area',
 'Aguadilla-Isabela, PR Metro Area',
 'Akron, OH Metro Area',
 'Akron, OH Metro Area',
 'Akron, OH Metro Area',
 'Albany, GA Metro Area',
 'Albany, GA Metro Area',
 'Albany, GA Metro Area',
 'Albany-Lebanon, OR Metro Area',
 'Albany-Lebanon, OR Metro Area',
 'Albany-Lebanon, OR Metro Area',
 'Albany-Schenectady-Troy, NY Metro Area',
 'Albany-Schenectady-Troy, NY Metro Area',
 'Albany-Schenectady-Troy, NY Metro Area',
 'Albuquerque, NM Metro Area',
 'Albuquerque, NM Metro Area',
 'Albuquerque, NM Metro Area',
 'Alexandria, LA Metro Area',
 'Alexandria, LA Metro Area',
 'Alexandria, LA Metro Area',
 'Allentown-Bethlehem-Easton, PA-NJ Metro Area',
 'Allentown-Bethlehem-Easton, PA-NJ Metro Area',
 'Allentown-Bethlehem-Easton, PA-NJ Metro Area',
 'Altoona, PA Metro Area',
 'Altoona, PA Metro Area',
 'Altoona, PA Metro Area',
 'Amarillo, TX Metro Area',
 'Amarillo, TX Metro Area',
 'Amarillo, TX Metro Area',
 'Ames, IA Metro Area',
 'Ames, IA Metro Area',
 'Ames, IA Metro Area',
 'Anchorage, AK Metro Area',
 'Anchorage, AK Metro Area',
 'Anchorage, AK Metro Area',
 'Ann Arbor, MI Metro Area',
 'Ann Arbor, MI Metro Area',
 'Ann Arbor, MI Metro Area',
 'Anniston-Oxford, AL Metro Area',
 'Anniston-Oxford, AL Metro Area',
 'Anniston-Oxford, AL Metro Area',
 'Appleton, WI Metro Area',
 'Appleton, WI Metro Area',
 'Appleton, WI Metro Area',
 'Arecibo, PR Metro Area',
 'Arecibo, PR Metro Area',
 'Arecibo, PR Metro Area',
 'Asheville, NC Metro Area',
 'Asheville, NC Metro Area',
 'Asheville, NC Metro Area',
 'Athens-Clarke County, GA Metro Area',
 'Athens-Clarke County, GA Metro Area',
 'Athens-Clarke County, GA Metro Area',
 'Atlanta-Sandy Springs-Alpharetta, GA Metro Area',
 'Atlanta-Sandy Springs-Alpharetta, GA Metro Area',
 'Atlanta-Sandy Springs-Alpharetta, GA Metro Area',
 'Atlantic City-Hammonton, NJ Metro Area',
 'Atlantic City-Hammonton, NJ Metro Area',
 'Atlantic City-Hammonton, NJ Metro Area',
 'Auburn-Opelika, AL Metro Area',
 'Auburn-Opelika, AL Metro Area',
 'Auburn-Opelika, AL Metro Area',
 'Augusta-Richmond County, GA-SC Metro Area',
 'Augusta-Richmond County, GA-SC Metro Area',
 'Augusta-Richmond County, GA-SC Metro Area',
 'Austin-Round Rock-Georgetown, TX Metro Area',
 'Austin-Round Rock-Georgetown, TX Metro Area',
 'Austin-Round Rock-Georgetown, TX Metro Area',
 'Bakersfield, CA Metro Area',
 'Bakersfield, CA Metro Area',
 'Bakersfield, CA Metro Area',
 'Baltimore-Columbia-Towson, MD Metro Area',
 'Baltimore-Columbia-Towson, MD Metro Area',
 'Baltimore-Columbia-Towson, MD Metro Area',
 'Barnstable Town, MA Metro Area',
 'Barnstable Town, MA Metro Area',
 'Barnstable Town, MA Metro Area',
 'Baton Rouge, LA Metro Area',
 'Baton Rouge, LA Metro Area',
 'Baton Rouge, LA Metro Area',
 'Battle Creek, MI Metro Area',
 'Battle Creek, MI Metro Area',
 'Battle Creek, MI Metro Area',
 'Beaumont-Port Arthur, TX Metro Area',
 'Beaumont-Port Arthur, TX Metro Area',
 'Beaumont-Port Arthur, TX Metro Area',
 'Beckley, WV Metro Area',
 'Beckley, WV Metro Area',
 'Beckley, WV Metro Area',
 'Bellingham, WA Metro Area',
 'Bellingham, WA Metro Area',
 'Bellingham, WA Metro Area',
 'Bend, OR Metro Area',
 'Bend, OR Metro Area',
 'Bend, OR Metro Area',
 'Billings, MT Metro Area',
 'Billings, MT Metro Area',
 'Billings, MT Metro Area',
 'Binghamton, NY Metro Area',
 'Binghamton, NY Metro Area',
 'Binghamton, NY Metro Area',
 'Birmingham-Hoover, AL Metro Area',
 'Birmingham-Hoover, AL Metro Area',
 'Birmingham-Hoover, AL Metro Area',
 'Bismarck, ND Metro Area',
 'Bismarck, ND Metro Area',
 'Bismarck, ND Metro Area',
 'Blacksburg-Christiansburg, VA Metro Area',
 'Blacksburg-Christiansburg, VA Metro Area',
 'Blacksburg-Christiansburg, VA Metro Area',
 'Bloomington, IL Metro Area',
 'Bloomington, IL Metro Area',
 'Bloomington, IL Metro Area',
 'Bloomington, IN Metro Area',
 'Bloomington, IN Metro Area',
 'Bloomington, IN Metro Area',
 'Bloomsburg-Berwick, PA Metro Area',
 'Bloomsburg-Berwick, PA Metro Area',
 'Bloomsburg-Berwick, PA Metro Area',
 'Boise City, ID Metro Area',
 'Boise City, ID Metro Area',
 'Boise City, ID Metro Area',
 'Boston-Cambridge-Newton, MA-NH Metro Area',
 'Boston-Cambridge-Newton, MA-NH Metro Area',
 'Boston-Cambridge-Newton, MA-NH Metro Area',
 'Boulder, CO Metro Area',
 'Boulder, CO Metro Area',
 'Boulder, CO Metro Area',
 'Bowling Green, KY Metro Area',
 'Bowling Green, KY Metro Area',
 'Bowling Green, KY Metro Area',
 'Bremerton-Silverdale-Port Orchard, WA Metro Area',
 'Bremerton-Silverdale-Port Orchard, WA Metro Area',
 'Bremerton-Silverdale-Port Orchard, WA Metro Area',
 'Bridgeport-Stamford-Norwalk, CT Metro Area',
 'Bridgeport-Stamford-Norwalk, CT Metro Area',
 'Bridgeport-Stamford-Norwalk, CT Metro Area',
 'Brownsville-Harlingen, TX Metro Area',
 'Brownsville-Harlingen, TX Metro Area',
 'Brownsville-Harlingen, TX Metro Area',
 'Brunswick, GA Metro Area',
 'Brunswick, GA Metro Area',
 'Brunswick, GA Metro Area',
 'Buffalo-Cheektowaga, NY Metro Area',
 'Buffalo-Cheektowaga, NY Metro Area',
 'Buffalo-Cheektowaga, NY Metro Area',
 'Burlington, NC Metro Area',
 'Burlington, NC Metro Area',
 'Burlington, NC Metro Area',
 'Burlington-South Burlington, VT Metro Area',
 'Burlington-South Burlington, VT Metro Area',
 'Burlington-South Burlington, VT Metro Area',
 'California-Lexington Park, MD Metro Area',
 'California-Lexington Park, MD Metro Area',
 'California-Lexington Park, MD Metro Area',
 'Canton-Massillon, OH Metro Area',
 'Canton-Massillon, OH Metro Area',
 'Canton-Massillon, OH Metro Area',
 'Cape Coral-Fort Myers, FL Metro Area',
 'Cape Coral-Fort Myers, FL Metro Area',
 'Cape Coral-Fort Myers, FL Metro Area',
 'Cape Girardeau, MO-IL Metro Area',
 'Cape Girardeau, MO-IL Metro Area',
 'Cape Girardeau, MO-IL Metro Area',
 'Carbondale-Marion, IL Metro Area',
 'Carbondale-Marion, IL Metro Area',
 'Carbondale-Marion, IL Metro Area',
 'Carson City, NV Metro Area',
 'Carson City, NV Metro Area',
 'Carson City, NV Metro Area',
 'Cedar Rapids, IA Metro Area',
 'Cedar Rapids, IA Metro Area',
 'Cedar Rapids, IA Metro Area',
 'Champaign-Urbana, IL Metro Area',
 'Champaign-Urbana, IL Metro Area',
 'Champaign-Urbana, IL Metro Area',
 'Charleston, WV Metro Area',
 'Charleston, WV Metro Area',
 'Charleston, WV Metro Area',
 'Charleston-North Charleston, SC Metro Area',
 'Charleston-North Charleston, SC Metro Area',
 'Charleston-North Charleston, SC Metro Area',
 'Charlotte-Concord-Gastonia, NC-SC Metro Area',
 'Charlotte-Concord-Gastonia, NC-SC Metro Area',
 'Charlotte-Concord-Gastonia, NC-SC Metro Area',
 'Charlottesville, VA Metro Area',
 'Charlottesville, VA Metro Area',
 'Charlottesville, VA Metro Area',
 'Chattanooga, TN-GA Metro Area',
 'Chattanooga, TN-GA Metro Area',
 'Chattanooga, TN-GA Metro Area',
 'Cheyenne, WY Metro Area',
 'Cheyenne, WY Metro Area',
 'Cheyenne, WY Metro Area',
 'Chicago-Naperville-Elgin, IL-IN-WI Metro Area',
 'Chicago-Naperville-Elgin, IL-IN-WI Metro Area',
 'Chicago-Naperville-Elgin, IL-IN-WI Metro Area',
 'Chico, CA Metro Area',
 'Chico, CA Metro Area',
 'Chico, CA Metro Area',
 'Cincinnati, OH-KY-IN Metro Area',
 'Cincinnati, OH-KY-IN Metro Area',
 'Cincinnati, OH-KY-IN Metro Area',
 'Clarksville, TN-KY Metro Area',
 'Clarksville, TN-KY Metro Area',
 'Clarksville, TN-KY Metro Area',
 'Cleveland, TN Metro Area',
 'Cleveland, TN Metro Area',
 'Cleveland, TN Metro Area',
 'Cleveland-Elyria, OH Metro Area',
 'Cleveland-Elyria, OH Metro Area',
 'Cleveland-Elyria, OH Metro Area',
 "Coeur d'Alene, ID Metro Area",
 "Coeur d'Alene, ID Metro Area",
 "Coeur d'Alene, ID Metro Area",
 'College Station-Bryan, TX Metro Area',
 'College Station-Bryan, TX Metro Area',
 'College Station-Bryan, TX Metro Area',
 'Colorado Springs, CO Metro Area',
 'Colorado Springs, CO Metro Area',
 'Colorado Springs, CO Metro Area',
 'Columbia, MO Metro Area',
 'Columbia, MO Metro Area',
 'Columbia, MO Metro Area',
 'Columbia, SC Metro Area',
 'Columbia, SC Metro Area',
 'Columbia, SC Metro Area',
 'Columbus, GA-AL Metro Area',
 'Columbus, GA-AL Metro Area',
 'Columbus, GA-AL Metro Area',
 'Columbus, IN Metro Area',
 'Columbus, IN Metro Area',
 'Columbus, IN Metro Area',
 'Columbus, OH Metro Area',
 'Columbus, OH Metro Area',
 'Columbus, OH Metro Area',
 'Corpus Christi, TX Metro Area',
 'Corpus Christi, TX Metro Area',
 'Corpus Christi, TX Metro Area',
 'Corvallis, OR Metro Area',
 'Corvallis, OR Metro Area',
 'Corvallis, OR Metro Area',
 'Crestview-Fort Walton Beach-Destin, FL Metro Area',
 'Crestview-Fort Walton Beach-Destin, FL Metro Area',
 'Crestview-Fort Walton Beach-Destin, FL Metro Area',
 'Cumberland, MD-WV Metro Area',
 'Cumberland, MD-WV Metro Area',
 'Cumberland, MD-WV Metro Area',
 'Dalton, GA Metro Area',
 'Dalton, GA Metro Area',
 'Dalton, GA Metro Area',
 'Danville, IL Metro Area',
 'Danville, IL Metro Area',
 'Danville, IL Metro Area',
 'Daphne-Fairhope-Foley, AL Metro Area',
 'Daphne-Fairhope-Foley, AL Metro Area',
 'Daphne-Fairhope-Foley, AL Metro Area',
 'Davenport-Moline-Rock Island, IA-IL Metro Area',
 'Davenport-Moline-Rock Island, IA-IL Metro Area',
 'Davenport-Moline-Rock Island, IA-IL Metro Area',
 'Dayton-Kettering, OH Metro Area',
 'Dayton-Kettering, OH Metro Area',
 'Dayton-Kettering, OH Metro Area',
 'Decatur, AL Metro Area',
 'Decatur, AL Metro Area',
 'Decatur, AL Metro Area',
 'Decatur, IL Metro Area',
 'Decatur, IL Metro Area',
 'Decatur, IL Metro Area',
 'Deltona-Daytona Beach-Ormond Beach, FL Metro Area',
 'Deltona-Daytona Beach-Ormond Beach, FL Metro Area',
 'Deltona-Daytona Beach-Ormond Beach, FL Metro Area',
 'Denver-Aurora-Lakewood, CO Metro Area',
 'Denver-Aurora-Lakewood, CO Metro Area',
 'Denver-Aurora-Lakewood, CO Metro Area',
 'Des Moines-West Des Moines, IA Metro Area',
 'Des Moines-West Des Moines, IA Metro Area',
 'Des Moines-West Des Moines, IA Metro Area',
 'Detroit-Warren-Dearborn, MI Metro Area',
 'Detroit-Warren-Dearborn, MI Metro Area',
 'Detroit-Warren-Dearborn, MI Metro Area',
 'Dothan, AL Metro Area',
 'Dothan, AL Metro Area',
 'Dothan, AL Metro Area',
 'Dover, DE Metro Area',
 'Dover, DE Metro Area',
 'Dover, DE Metro Area',
 'Dubuque, IA Metro Area',
 'Dubuque, IA Metro Area',
 'Dubuque, IA Metro Area',
 'Duluth, MN-WI Metro Area',
 'Duluth, MN-WI Metro Area',
 'Duluth, MN-WI Metro Area',
 'Durham-Chapel Hill, NC Metro Area',
 'Durham-Chapel Hill, NC Metro Area',
 'Durham-Chapel Hill, NC Metro Area',
 'Eau Claire, WI Metro Area',
 'Eau Claire, WI Metro Area',
 'Eau Claire, WI Metro Area',
 'Elizabethtown-Fort Knox, KY Metro Area',
 'Elizabethtown-Fort Knox, KY Metro Area',
 'Elizabethtown-Fort Knox, KY Metro Area',
 'Elkhart-Goshen, IN Metro Area',
 'Elkhart-Goshen, IN Metro Area',
 'Elkhart-Goshen, IN Metro Area',
 'El Paso, TX Metro Area',
 'El Paso, TX Metro Area',
 'El Paso, TX Metro Area',
 'Enid, OK Metro Area',
 'Enid, OK Metro Area',
 'Enid, OK Metro Area',
 'Erie, PA Metro Area',
 'Erie, PA Metro Area',
 'Erie, PA Metro Area',
 'Eugene-Springfield, OR Metro Area',
 'Eugene-Springfield, OR Metro Area',
 'Eugene-Springfield, OR Metro Area',
 'Evansville, IN-KY Metro Area',
 'Evansville, IN-KY Metro Area',
 'Evansville, IN-KY Metro Area',
 'Fairbanks, AK Metro Area',
 'Fairbanks, AK Metro Area',
 'Fairbanks, AK Metro Area',
 'Fargo, ND-MN Metro Area',
 'Fargo, ND-MN Metro Area',
 'Fargo, ND-MN Metro Area',
 'Farmington, NM Metro Area',
 'Farmington, NM Metro Area',
 'Farmington, NM Metro Area',
 'Fayetteville, NC Metro Area',
 'Fayetteville, NC Metro Area',
 'Fayetteville, NC Metro Area',
 'Fayetteville-Springdale-Rogers, AR Metro Area',
 'Fayetteville-Springdale-Rogers, AR Metro Area',
 'Fayetteville-Springdale-Rogers, AR Metro Area',
 'Flagstaff, AZ Metro Area',
 'Flagstaff, AZ Metro Area',
 'Flagstaff, AZ Metro Area',
 'Flint, MI Metro Area',
 'Flint, MI Metro Area',
 'Flint, MI Metro Area',
 'Florence, SC Metro Area',
 'Florence, SC Metro Area',
 'Florence, SC Metro Area',
 'Florence-Muscle Shoals, AL Metro Area',
 'Florence-Muscle Shoals, AL Metro Area',
 'Florence-Muscle Shoals, AL Metro Area',
 'Fond du Lac, WI Metro Area',
 'Fond du Lac, WI Metro Area',
 'Fond du Lac, WI Metro Area',
 'Fort Collins, CO Metro Area',
 'Fort Collins, CO Metro Area',
 'Fort Collins, CO Metro Area',
 'Fort Smith, AR-OK Metro Area',
 'Fort Smith, AR-OK Metro Area',
 'Fort Smith, AR-OK Metro Area',
 'Fort Wayne, IN Metro Area',
 'Fort Wayne, IN Metro Area',
 'Fort Wayne, IN Metro Area',
 'Fresno, CA Metro Area',
 'Fresno, CA Metro Area',
 'Fresno, CA Metro Area',
 'Gadsden, AL Metro Area',
 'Gadsden, AL Metro Area',
 'Gadsden, AL Metro Area',
 'Gainesville, FL Metro Area',
 'Gainesville, FL Metro Area',
 'Gainesville, FL Metro Area',
 'Gainesville, GA Metro Area',
 'Gainesville, GA Metro Area',
 'Gainesville, GA Metro Area',
 'Gettysburg, PA Metro Area',
 'Gettysburg, PA Metro Area',
 'Gettysburg, PA Metro Area',
 'Glens Falls, NY Metro Area',
 'Glens Falls, NY Metro Area',
 'Glens Falls, NY Metro Area',
 'Goldsboro, NC Metro Area',
 'Goldsboro, NC Metro Area',
 'Goldsboro, NC Metro Area',
 'Grand Forks, ND-MN Metro Area',
 'Grand Forks, ND-MN Metro Area',
 'Grand Forks, ND-MN Metro Area',
 'Grand Island, NE Metro Area',
 'Grand Island, NE Metro Area',
 'Grand Island, NE Metro Area',
 'Grand Junction, CO Metro Area',
 'Grand Junction, CO Metro Area',
 'Grand Junction, CO Metro Area',
 'Grand Rapids-Kentwood, MI Metro Area',
 'Grand Rapids-Kentwood, MI Metro Area',
 'Grand Rapids-Kentwood, MI Metro Area',
 'Grants Pass, OR Metro Area',
 'Grants Pass, OR Metro Area',
 'Grants Pass, OR Metro Area',
 'Great Falls, MT Metro Area',
 'Great Falls, MT Metro Area',
 'Great Falls, MT Metro Area',
 'Greeley, CO Metro Area',
 'Greeley, CO Metro Area',
 'Greeley, CO Metro Area',
 'Green Bay, WI Metro Area',
 'Green Bay, WI Metro Area',
 'Green Bay, WI Metro Area',
 'Greensboro-High Point, NC Metro Area',
 'Greensboro-High Point, NC Metro Area',
 'Greensboro-High Point, NC Metro Area',
 'Greenville, NC Metro Area',
 'Greenville, NC Metro Area',
 'Greenville, NC Metro Area',
 'Greenville-Anderson, SC Metro Area',
 'Greenville-Anderson, SC Metro Area',
 'Greenville-Anderson, SC Metro Area',
 'Gulfport-Biloxi, MS Metro Area',
 'Gulfport-Biloxi, MS Metro Area',
 'Gulfport-Biloxi, MS Metro Area',
 'Hagerstown-Martinsburg, MD-WV Metro Area',
 'Hagerstown-Martinsburg, MD-WV Metro Area',
 'Hagerstown-Martinsburg, MD-WV Metro Area',
 'Hammond, LA Metro Area',
 'Hammond, LA Metro Area',
 'Hammond, LA Metro Area',
 'Hanford-Corcoran, CA Metro Area',
 'Hanford-Corcoran, CA Metro Area',
 'Hanford-Corcoran, CA Metro Area',
 'Harrisburg-Carlisle, PA Metro Area',
 'Harrisburg-Carlisle, PA Metro Area',
 'Harrisburg-Carlisle, PA Metro Area',
 'Hartford-East Hartford-Middletown, CT Metro Area',
 'Hartford-East Hartford-Middletown, CT Metro Area',
 'Hartford-East Hartford-Middletown, CT Metro Area',
 'Hattiesburg, MS Metro Area',
 'Hattiesburg, MS Metro Area',
 'Hattiesburg, MS Metro Area',
 'Hickory-Lenoir-Morganton, NC Metro Area',
 'Hickory-Lenoir-Morganton, NC Metro Area',
 'Hickory-Lenoir-Morganton, NC Metro Area',
 'Hilton Head Island-Bluffton, SC Metro Area',
 'Hilton Head Island-Bluffton, SC Metro Area',
 'Hilton Head Island-Bluffton, SC Metro Area',
 'Hinesville, GA Metro Area',
 'Hinesville, GA Metro Area',
 'Hinesville, GA Metro Area',
 'Homosassa Springs, FL Metro Area',
 'Homosassa Springs, FL Metro Area',
 'Homosassa Springs, FL Metro Area',
 'Hot Springs, AR Metro Area',
 'Hot Springs, AR Metro Area',
 'Hot Springs, AR Metro Area',
 'Houma-Thibodaux, LA Metro Area',
 'Houma-Thibodaux, LA Metro Area',
 'Houma-Thibodaux, LA Metro Area',
 'Houston-The Woodlands-Sugar Land, TX Metro Area',
 'Houston-The Woodlands-Sugar Land, TX Metro Area',
 'Houston-The Woodlands-Sugar Land, TX Metro Area',
 'Huntington-Ashland, WV-KY-OH Metro Area',
 'Huntington-Ashland, WV-KY-OH Metro Area',
 'Huntington-Ashland, WV-KY-OH Metro Area',
 'Huntsville, AL Metro Area',
 'Huntsville, AL Metro Area',
 'Huntsville, AL Metro Area',
 'Idaho Falls, ID Metro Area',
 'Idaho Falls, ID Metro Area',
 'Idaho Falls, ID Metro Area',
 'Indianapolis-Carmel-Anderson, IN Metro Area',
 'Indianapolis-Carmel-Anderson, IN Metro Area',
 'Indianapolis-Carmel-Anderson, IN Metro Area',
 'Iowa City, IA Metro Area',
 'Iowa City, IA Metro Area',
 'Iowa City, IA Metro Area',
 'Ithaca, NY Metro Area',
 'Ithaca, NY Metro Area',
 'Ithaca, NY Metro Area',
 'Jackson, MI Metro Area',
 'Jackson, MI Metro Area',
 'Jackson, MI Metro Area',
 'Jackson, MS Metro Area',
 'Jackson, MS Metro Area',
 'Jackson, MS Metro Area',
 'Jackson, TN Metro Area',
 'Jackson, TN Metro Area',
 'Jackson, TN Metro Area',
 'Jacksonville, FL Metro Area',
 'Jacksonville, FL Metro Area',
 'Jacksonville, FL Metro Area',
 'Jacksonville, NC Metro Area',
 'Jacksonville, NC Metro Area',
 'Jacksonville, NC Metro Area',
 'Janesville-Beloit, WI Metro Area',
 'Janesville-Beloit, WI Metro Area',
 'Janesville-Beloit, WI Metro Area',
 'Jefferson City, MO Metro Area',
 'Jefferson City, MO Metro Area',
 'Jefferson City, MO Metro Area',
 'Johnson City, TN Metro Area',
 'Johnson City, TN Metro Area',
 'Johnson City, TN Metro Area',
 'Johnstown, PA Metro Area',
 'Johnstown, PA Metro Area',
 'Johnstown, PA Metro Area',
 'Jonesboro, AR Metro Area',
 'Jonesboro, AR Metro Area',
 'Jonesboro, AR Metro Area',
 'Joplin, MO Metro Area',
 'Joplin, MO Metro Area',
 'Joplin, MO Metro Area',
 'Kahului-Wailuku-Lahaina, HI Metro Area',
 'Kahului-Wailuku-Lahaina, HI Metro Area',
 'Kahului-Wailuku-Lahaina, HI Metro Area',
 'Kalamazoo-Portage, MI Metro Area',
 'Kalamazoo-Portage, MI Metro Area',
 'Kalamazoo-Portage, MI Metro Area',
 'Kankakee, IL Metro Area',
 'Kankakee, IL Metro Area',
 'Kankakee, IL Metro Area',
 'Kansas City, MO-KS Metro Area',
 'Kansas City, MO-KS Metro Area',
 'Kansas City, MO-KS Metro Area',
 'Kennewick-Richland, WA Metro Area',
 'Kennewick-Richland, WA Metro Area',
 'Kennewick-Richland, WA Metro Area',
 'Killeen-Temple, TX Metro Area',
 'Killeen-Temple, TX Metro Area',
 'Killeen-Temple, TX Metro Area',
 'Kingsport-Bristol, TN-VA Metro Area',
 'Kingsport-Bristol, TN-VA Metro Area',
 'Kingsport-Bristol, TN-VA Metro Area',
 'Knoxville, TN Metro Area',
 'Knoxville, TN Metro Area',
 'Knoxville, TN Metro Area',
 'Kokomo, IN Metro Area',
 'Kokomo, IN Metro Area',
 'Kokomo, IN Metro Area',
 'Lafayette, LA Metro Area',
 'Lafayette, LA Metro Area',
 'Lafayette, LA Metro Area',
 'Lafayette-West Lafayette, IN Metro Area',
 'Lafayette-West Lafayette, IN Metro Area',
 'Lafayette-West Lafayette, IN Metro Area',
 'Lake Charles, LA Metro Area',
 'Lake Charles, LA Metro Area',
 'Lake Charles, LA Metro Area',
 'Lake Havasu City-Kingman, AZ Metro Area',
 'Lake Havasu City-Kingman, AZ Metro Area',
 'Lake Havasu City-Kingman, AZ Metro Area',
 'Lakeland-Winter Haven, FL Metro Area',
 'Lakeland-Winter Haven, FL Metro Area',
 'Lakeland-Winter Haven, FL Metro Area',
 'Lancaster, PA Metro Area',
 'Lancaster, PA Metro Area',
 'Lancaster, PA Metro Area',
 'Lansing-East Lansing, MI Metro Area',
 'Lansing-East Lansing, MI Metro Area',
 'Lansing-East Lansing, MI Metro Area',
 'Laredo, TX Metro Area',
 'Laredo, TX Metro Area',
 'Laredo, TX Metro Area',
 'Las Cruces, NM Metro Area',
 'Las Cruces, NM Metro Area',
 'Las Cruces, NM Metro Area',

In [137]:
master_map0.head()

,moving_to,share,living_flag,skl_2,skl_3,skl_4,skl_5,skl_6,skl_7,unskl_2,unskl_3,unskl_4,unskl_5,unskl_6,unskl_7,state_y,state_pop,arrive_moving_to
0,alabama,0.000959,california,0.049547,0.05582,0.060629,0.06076,0.064456,0.062925,0.049052,0.048254,0.054431,0.060285,0.064166,0.059776,california,37253956,1.827371e+06
1,arizona,0.006973,california,0.049547,0.05582,0.060629,0.06076,0.064456,0.062925,0.049052,0.048254,0.054431,0.060285,0.064166,0.059776,california,37253956,1.827371e+06
2,arkansas,0.000293,california,0.049547,0.05582,0.060629,0.06076,0.064456,0.062925,0.049052,0.048254,0.054431,0.060285,0.064166,0.059776,california,37253956,1.827371e+06
3,california,0.931469,california,0.049547,0.05582,0.060629,0.06076,0.064456,0.062925,0.049052,0.048254,0.054431,0.060285,0.064166,0.059776,california,37253956,1.827371e+06
4,colorado,0.001489,california,0.049547,0.05582,0.060629,0.06076,0.064456,0.062925,0.049052,0.048254,0.054431,0.060285,0.064166,0.059776,california,37253956,1.827371e+06

In [102]:
##test to see what is happening with temperature
df_tmp=df_m.groupby(['msa','state'],as_index=False).agg({'fexthot_28':max,'fextcold':max,'share':sum,'chosen':sum})

In [109]:
# df_tmp[df_tmp['state']=='washington']

In [107]:
master_map.sort_values(by='share',ascending=False).head(100)

         state     share living_flag
3   california  0.931469  california
3   california  0.929806      nevada
28    new york  0.819369     indiana
42  washington  0.805028       idaho
19    michigan  0.799623    michigan
..         ...       ...         ...
43   wisconsin  0.072113        iowa
4     colorado  0.071825        utah
22    missouri  0.071524    nebraska
43   wisconsin  0.068685    missouri
3   california  0.068635    nebraska

[100 rows x 3 columns]

In [95]:
master_map.head()

        state     share living_flag
0     alabama  0.000959  california
1     arizona  0.006973  california
2    arkansas  0.000293  california
3  california  0.931469  california
4    colorado  0.001489  california

In [87]:
df_lm

,id,msa,bpl,chosen,d_s,d_r1,d_r2,inc_hat,coll,hot_26C_ca,...,fcold_mw,fhot_ne,fcold_ne,fcold_coll,fhot_coll,probability,total_probability,share,state,abbrev
4522807,53804.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.731033,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,38.313557,339.525574,0.112844,north dakota,ND
4522808,53809.0,76.0,minnesota,1.0,1.0,0.0,0.0,10.318717,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,2.635523,731.272278,0.003604,north dakota,ND
4522809,53810.0,76.0,north dakota,1.0,0.0,0.0,0.0,9.064373,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,31.214836,315.351562,0.098984,north dakota,ND
4522810,53813.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.902546,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,39.130051,342.509949,0.114245,north dakota,ND
4522811,53815.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.256156,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,36.140686,322.458374,0.112079,north dakota,ND
4522812,53823.0,76.0,california,1.0,1.0,1.0,1.0,10.330995,0.0,4.720663,...,0.000000,0.0,0.0,0.0,0.0,2.140539,5741.120117,0.000373,north dakota,ND
4522813,53826.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.324879,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,36.447338,197.075104,0.184941,north dakota,ND
4522814,53828.0,76.0,minnesota,1.0,1.0,0.0,0.0,10.753953,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,2.780394,768.850464,0.003616,north dakota,ND
4522815,53831.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.902546,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,39.130051,342.509949,0.114245,north dakota,ND
4522816,53838.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.705402,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,38.193012,213.689117,0.178732,north dakota,ND
4522817,53840.0,76.0,ohio,1.0,1.0,1.0,0.0,11.291519,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,0.614263,745.263733,0.000824,north dakota,ND
4522818,53842.0,76.0,montana,1.0,1.0,1.0,1.0,9.794971,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,0.252013,177.747742,0.001418,north dakota,ND
4522819,53843.0,76.0,missouri,1.0,1.0,0.0,0.0,10.652075,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.913227,373.755402,0.002443,north dakota,ND
4522820,53844.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.274334,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,36.221546,337.041840,0.107469,north dakota,ND
4522821,53849.0,76.0,minnesota,1.0,1.0,0.0,0.0,10.299176,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,2.629199,792.015564,0.003320,north dakota,ND
4522822,53850.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.902546,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,39.130051,214.375549,0.182530,north dakota,ND
4522823,53855.0,76.0,north dakota,1.0,0.0,0.0,0.0,10.705402,0.0,0.000000,...,90.788116,0.0,0.0,0.0,0.0,38.193012,342.060944,0.111656,north dakota,ND

In [85]:
master_map.head()

Empty DataFrame
Columns: [state, share, living_flag]
Index: []

In [74]:
df_test_gre

       msa         state       share  chosen
0      1.0         texas   18.047556    14.0
1      2.0          ohio   74.479919    80.0
2      3.0       georgia    9.206143    22.0
3      4.0      new york  109.572548    62.0
4      5.0    new mexico   48.243179    81.0
..     ...           ...         ...     ...
261  262.0    california   19.018854    14.0
262  263.0  pennsylvania   35.201027    43.0
263  264.0          ohio   70.180038    80.0
264  265.0    california   16.158537    15.0
265  266.0       arizona    7.206584     7.0

[266 rows x 4 columns]

In [72]:
df_tmp

       msa  fexthot_28   fextcold
0      1.0   29.010305  -8.335840
1      2.0   19.204542 -37.992676
2      3.0   65.869919  -3.075090
3      4.0   11.528074 -38.367603
4      5.0   57.736919 -45.664284
..     ...         ...        ...
261  262.0   63.912048  -5.093915
262  263.0   25.947662 -33.506748
263  264.0   23.899456 -36.967190
264  265.0   63.583454 -11.786358
265  266.0   45.993168  -0.677472

[266 rows x 3 columns]

In [69]:
df_test_gre

       msa       share  chosen
0      1.0   18.047556    14.0
1      2.0   74.479919    80.0
2      3.0    9.206143    22.0
3      4.0  109.572548    62.0
4      5.0   48.243179    81.0
..     ...         ...     ...
261  262.0   19.018854    14.0
262  263.0   35.201027    43.0
263  264.0   70.180038    80.0
264  265.0   16.158537    15.0
265  266.0    7.206584     7.0

[266 rows x 3 columns]

In [67]:
# df_m[(df_m['id']==3)& (df_m['state']=='california')][['msa','bpl','chosen','d_s','d_r1','d_r2','statefip','state']]

      msa      bpl  chosen  d_s  d_r1  d_r2  statefip       state
0   233.0  alabama     0.0  1.0   1.0   1.0       6.0  california
1    89.0  alabama     0.0  1.0   1.0   1.0       6.0  california
2    47.0  alabama     0.0  1.0   1.0   1.0       6.0  california
3   196.0  alabama     0.0  1.0   1.0   1.0       6.0  california
4   212.0  alabama     0.0  1.0   1.0   1.0       6.0  california
5   211.0  alabama     0.0  1.0   1.0   1.0       6.0  california
6   250.0  alabama     0.0  1.0   1.0   1.0       6.0  california
7   208.0  alabama     0.0  1.0   1.0   1.0       6.0  california
8   202.0  alabama     0.0  1.0   1.0   1.0       6.0  california
9   214.0  alabama     0.0  1.0   1.0   1.0       6.0  california
10  158.0  alabama     0.0  1.0   1.0   1.0       6.0  california
11  142.0  alabama     0.0  1.0   1.0   1.0       6.0  california
12  265.0  alabama     0.0  1.0   1.0   1.0       6.0  california
13  262.0  alabama     0.0  1.0   1.0   1.0       6.0  california
14  215.0  alabama     0.0  1.0   1.0   1.0       6.0  california
15  213.0  alabama     0.0  1.0   1.0   1.0       6.0  california
16  217.0  alabama     0.0  1.0   1.0   1.0       6.0  california
17  153.0  alabama     0.0  1.0   1.0   1.0       6.0  california
18   20.0  alabama     0.0  1.0   1.0   1.0       6.0  california
19  248.0  alabama     0.0  1.0   1.0   1.0       6.0  california
20  192.0  alabama     0.0  1.0   1.0   1.0       6.0  california

In [27]:
df_test_gre['diff']=abs(df_test_gre['share']-df_test_gre['chosen'])

In [28]:
df_test_gre['diff'].describe()

count    266.000000
mean      14.324357
std       25.951660
min        0.000000
25%        3.476659
50%        7.686444
75%       14.595793
max      217.362152
Name: diff, dtype: float64

In [18]:
# df_tmp=df_m.groupby(['msa'],as_index=False).agg({'fexthot_28':sum,'fextcold':sum,'state':max,'hot':sum,'cold':sum})

In [19]:
# df_m[['msa','state','hot','cold','fexthot_28','fextcold']].head()

In [44]:
len(df[(df['id']==4100)]['msa'].unique())

265

In [ ]:
list()

In [33]:
logit_ready[logit_ready['chosen']==1]['d_s'].describe()

count    80000.000000
mean         0.425225
std          0.494367
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: d_s, dtype: float64

In [15]:
df_lm=df[['msa','chosen','share']]

In [21]:
df[df['chosen']==1]['share'].describe()

count    17078.000000
mean         0.120542
std          0.148248
min          0.000021
25%          0.011365
50%          0.055946
75%          0.169543
max          0.637155
Name: share, dtype: float64

#### Import total population and process percent changes for Windc counterfactual

In [13]:
#orig=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/dta/acs5yr_0610_clr.dta')

#orig.groupby(['ageid'],as_index=False)

In [14]:
###get shares by college graduates#impo
#educ_shares.to_csv('/Users/hannahkamen/Downloads/le0_shr2.csv',index=False)
# df['pct_col']=np.exp(df['lncoll'])
# df['pct_nc']=1-np.exp(df['lncoll'])
# df['coll_pop']=np.exp(df['lnpop'])*df['pct_col']
# df['population']=np.exp(df['lnpop'])

# df_tot=df.groupby(['statefip'],as_index=False).agg({'population':sum,'coll_pop':sum,'share':sum,'chosen':sum})
# df_tot['state_coll_shr']=df_tot['coll_pop']/df_tot['population']
# df_tot['pct_change']=(df_tot['share']-df_tot['chosen'])/df_tot['chosen']

In [ ]:
df[df['share'].isnull()]

In [ ]:
df

In [ ]:
list(df)

In [ ]:


df_st=df.groupby('statefip',as_index=False).agg({'share':sum,'population':sum,'chosen':sum,'id':'count'})
df_st['chosen'].sum()

In [ ]:
list(df)

In [ ]:
len(df['id'].unique())

In [ ]:
df_st.head()

In [ ]:
len(df_st['id'].unique())

In [ ]:
44*265

In [ ]:
df[df['id']==62973.0]

In [ ]:
len(df)

In [ ]:
df_st.head()

In [ ]:
len(df['statefip'].unique())

In [ ]:
df.groupby('id',as_index=False).agg({'share':sum})['share'].unique()

In [ ]:
df['msa'].unique()

In [ ]:
len(list(df['msa'].unique()))

In [ ]:
df.head()

In [ ]:
data.head()

In [ ]:
st_lkup=data.groupby(['statefip','str_statefip'],as_index=False).sum()[['statefip','str_statefip']]

In [ ]:
list(data)

In [ ]:
data['str_statefip'].unique()

In [ ]:
list(data)

In [ ]:
st_lkup

In [ ]:
data.head()

In [ ]:
len(data)

In [ ]:
list(data)

In [ ]:
len(logit)

In [ ]:
list(logit)

In [ ]:
logit.head()

In [ ]:
q

In [ ]:
logit.head()

In [ ]:
q.head()

In [ ]:
for i in np.arange(2,8,1):
    print(i)

In [ ]:
for i in np.arange(2,8,1):
    df=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/results/temp/2nd_stage_avg_age%s.dta'%i)

In [ ]:
df

In [ ]:
secondndstage2.head()

In [ ]:
secondndstage3.head()

In [ ]:
logit['_b_d_r1'].unique()

In [ ]:
logit['d_s'].unique()

In [ ]:
len(cols)

In [ ]:
cols=[x for x in logit.columns if "_b" in x]

In [ ]:
for x in [x for x in logit.columns if "_b" in x]:
    
    print(logit[x].unique())

In [ ]:
logit['d_s']