In [2]:
import pandas as pd
import numpy as np
import scipy.stats
import math
import warnings
warnings.filterwarnings("ignore")

In [3]:
####msa pop data
msa=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/second_stage_dataset_cl.dta')
sl=pd.read_excel('/Users/hannahkamen/Downloads/statelookup2.xlsx')
sl=sl.rename(columns={'abbrev':'q'})

#### (6) re-import GAMS results, merge with pop changes

In [11]:
t='8t2'

##### import GAMS results
phou_rpt=pd.read_csv('/Users/hannahkamen/Downloads/clim/csv%s/phou_rpt0.csv'%t)
del phou_rpt['ph_shock0']
del phou_rpt['file']
phou_rpt=phou_rpt.rename(columns={'sector':'ph_shock0'})

pl_rpt=pd.read_csv('/Users/hannahkamen/Downloads/clim/csv%s/pl_rpt0.csv'%t)
pl_rpt=pl_rpt.pivot(index='region',columns='skill',values='pl_shock0').reset_index()
#### import pct change in pop by state
#### last_pop_shock=pd.read_csv('/Users/hannahkamen/Downloads/le0_shock0_v2.csv')

In [12]:
###merge all fields

r_df=phou_rpt.merge(pl_rpt, on='region')
r_df=r_df.rename(columns={'region':'q','ph_shock0':'ph','skl':'pl_skl','unskl':'pl_unskl'})
r_df=r_df.merge(sl,on='q')
r_df=r_df.rename(columns={'q':'abbrev'})

In [13]:
r_df.to_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/gams_dta1_v2.dta')

In [6]:
r_df

     q        ph    pl_skl  pl_unskl           state  statefip
0   IA  0.992669  1.006081  1.029706            iowa        19
1   FL  0.976148  1.037733  0.964886         florida        12
2   MD  1.005558  0.988616  1.006494        maryland        24
3   OH  0.997401  0.998736  1.023517            ohio        39
4   TN  1.000151  0.999975  0.998538       tennessee        47
5   WI  0.993439  0.997651  1.037313       wisconsin        55
6   RI  1.020083  0.976194  1.006115    rhode island        44
7   AK  0.999509  1.001295  1.011361          alaska         2
8   WV  0.999611  0.999477  1.002316   west virginia        54
9   AZ  1.001898  1.001410  0.987712         arizona         4
10  NH  0.999380  0.994920  1.005661   new hampshire        33
11  OK  1.006182  0.996722  0.990264        oklahoma        40
12  NE  0.995785  1.001072  1.021984        nebraska        31
13  KY  0.995513  0.999766  1.011204        kentucky        21
14  NM  0.990627  1.008211  1.028398      new mexico        35
15  IL  0.992704  1.003401  1.022461        illinois        17
16  NC  1.005248  1.001698  0.984603  north carolina        37
17  VA  1.007326  0.995288  0.996093        virginia        51
18  CT  1.012365  0.980011  1.019505     connecticut         9
19  MI  0.994872  0.999974  1.030062        michigan        26
20  DE  1.009907  0.983425  1.007119        delaware        10
21  HI  0.998848  0.997910  1.007109          hawaii        15
22  GA  1.000106  1.003510  0.988684         georgia        13
23  CA  1.002796  0.996733  0.983445      california         6
24  ME  1.012039  0.977495  1.026764           maine        23
25  MA  1.009065  0.983379  1.010510   massachusetts        25
26  MS  1.001469  1.016326  0.967312     mississippi        28
27  WA  1.011812  0.978362  1.026917      washington        53
28  TX  1.007168  1.010052  0.963653           texas        48
29  AL  0.995522  1.012334  0.991331         alabama         1
30  NV  0.994151  1.005389  1.008870          nevada        32
31  SD  0.989755  1.006596  1.033785    south dakota        46
32  MN  0.991966  1.000427  1.030803       minnesota        27
33  VT  0.999504  0.995319  1.005084         vermont        50
34  MO  0.998364  1.000636  1.011981        missouri        29
35  IN  0.996130  1.002241  1.024635         indiana        18
36  LA  0.985121  1.024125  0.985029       louisiana        22
37  KS  1.003685  0.998500  1.008143          kansas        20
38  AR  1.001596  0.998438  0.995939        arkansas         5
39  NY  1.002710  0.986827  1.013307        new york        36
40  OR  1.014851  0.976910  1.006883          oregon        41
41  ND  0.988574  1.003074  1.039007    north dakota        38
42  SC  1.003522  1.000416  0.985004  south carolina        45
43  ID  0.982638  1.010355  1.082661           idaho        16
44  NJ  1.005470  0.988719  1.002982      new jersey        34
45  UT  0.980027  1.020364  1.059732            utah        49
46  MT  0.986732  0.998797  1.064021         montana        30
47  PA  1.000983  0.990969  1.012740    pennsylvania        42
48  WY  0.999792  1.000653  1.013053         wyoming        56
49  CO  0.993267  0.998824  1.028005        colorado         8

In [55]:
r_df_lm[r_df_lm['state']=='arizona']['ph'].astype(float)*10000

14    10001.135266
Name: ph, dtype: float64

In [ ]:
####translates pop changes by skill into total population changes

In [ ]:
np.exp(tmp0['inc_hat'])

##### (9) map out migration flows

In [ ]:
#get sum of shares in all other states for people who chose states 1-44
#get ids that live in state s currentlly
master_map=pd.DataFrame()
for s in df_m['state'].unique():
    living_now=[]
    df_lm=df_m[(df_m['state']==s) & (df_m['chosen']==1)]
    ####list of ids currently living in state s
    living_now.append(list(df_lm['id'].unique())[0])
    ###limit dataframe to the ids of people living in state s
    tmp=df_m[df_m['id'].isin(living_now)]
    ####now groupby shares across all states
    tmp2=tmp.groupby(['state'],as_index=False).agg({'share':sum})
    ###tag origin state
    tmp2['living_flag']=s
    master_map=master_map.append(tmp2)
    
######merge with state populaiton
master_map0=master_map.merge(state_split,left_on='living_flag',right_on='state',how='inner')
master_map0=master_map0.rename(columns={'state_x':'moving_to'})

####get estimates for number of people leaving / going to
master_map0['arrive_moving_to']=master_map0['unskl_2']*master_map0['state_pop']

####merge in the msa codes

master_map0_lm=master_map0[master_map0['living_flag']=='texas']

###export texas test

master_map0_lm.to_csv('/Users/hannahkamen/Downloads/texas_out_unskl2.csv')

In [ ]:
map_dta=pd.read_csv('/Users/hannahkamen/Downloads/census_texas.csv')

In [ ]:
map_dta_lm=map_dta[map_dta['GEOID2'].str.contains(',')]

map_dta_lm['state']=map_dta_lm['GEOID2'].apply(lambda x: x.split(',')[1])
map_dta_lm['state']=map_dta_lm['GEOID2'].apply(lambda x: x.split(',')[1])

In [ ]:
map_dta_lm

In [ ]:
map_dta['state']

In [ ]:
list(map_dta['GEOID2'])

In [ ]:
master_map0.head()

In [ ]:
##test to see what is happening with temperature

In [ ]:
# df_tmp[df_tmp['state']=='washington']

In [ ]:
master_map.sort_values(by='share',ascending=False).head(100)

In [ ]:
master_map.head()

In [ ]:
df_lm

In [ ]:
master_map.head()

In [ ]:
df_test_gre

In [ ]:
df_tmp

In [ ]:
df_test_gre

In [ ]:
# df_m[(df_m['id']==3)& (df_m['state']=='california')][['msa','bpl','chosen','d_s','d_r1','d_r2','statefip','state']]

In [ ]:
df_test_gre['diff']=abs(df_test_gre['share']-df_test_gre['chosen'])

In [ ]:
df_test_gre['diff'].describe()

In [ ]:
# df_tmp=df_m.groupby(['msa'],as_index=False).agg({'fexthot_28':sum,'fextcold':sum,'state':max,'hot':sum,'cold':sum})

In [ ]:
# df_m[['msa','state','hot','cold','fexthot_28','fextcold']].head()

In [ ]:
len(df[(df['id']==4100)]['msa'].unique())

In [ ]:
list()

In [ ]:
logit_ready[logit_ready['chosen']==1]['d_s'].describe()

In [ ]:
df_lm=df[['msa','chosen','share']]

In [ ]:
df[df['chosen']==1]['share'].describe()

#### Import total population and process percent changes for Windc counterfactual

In [ ]:
#orig=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/dta/acs5yr_0610_clr.dta')

#orig.groupby(['ageid'],as_index=False)

In [ ]:
###get shares by college graduates#impo
#educ_shares.to_csv('/Users/hannahkamen/Downloads/le0_shr2.csv',index=False)
# df['pct_col']=np.exp(df['lncoll'])
# df['pct_nc']=1-np.exp(df['lncoll'])
# df['coll_pop']=np.exp(df['lnpop'])*df['pct_col']
# df['population']=np.exp(df['lnpop'])

# df_tot=df.groupby(['statefip'],as_index=False).agg({'population':sum,'coll_pop':sum,'share':sum,'chosen':sum})
# df_tot['state_coll_shr']=df_tot['coll_pop']/df_tot['population']
# df_tot['pct_change']=(df_tot['share']-df_tot['chosen'])/df_tot['chosen']

In [ ]:
df[df['share'].isnull()]

In [ ]:
df

In [ ]:
list(df)

In [ ]:


df_st=df.groupby('statefip',as_index=False).agg({'share':sum,'population':sum,'chosen':sum,'id':'count'})
df_st['chosen'].sum()

In [ ]:
list(df)

In [ ]:
len(df['id'].unique())

In [ ]:
df_st.head()

In [ ]:
len(df_st['id'].unique())

In [ ]:
44*265

In [ ]:
df[df['id']==62973.0]

In [ ]:
len(df)

In [ ]:
df_st.head()

In [ ]:
len(df['statefip'].unique())

In [ ]:
df.groupby('id',as_index=False).agg({'share':sum})['share'].unique()

In [ ]:
df['msa'].unique()

In [ ]:
len(list(df['msa'].unique()))

In [ ]:
df.head()

In [ ]:
data.head()

In [ ]:
st_lkup=data.groupby(['statefip','str_statefip'],as_index=False).sum()[['statefip','str_statefip']]

In [ ]:
list(data)

In [ ]:
data['str_statefip'].unique()

In [ ]:
list(data)

In [ ]:
st_lkup

In [ ]:
data.head()

In [ ]:
len(data)

In [ ]:
list(data)

In [ ]:
len(logit)

In [ ]:
list(logit)

In [ ]:
logit.head()

In [ ]:
q

In [ ]:
logit.head()

In [ ]:
q.head()

In [ ]:
for i in np.arange(2,8,1):
    print(i)

In [ ]:
for i in np.arange(2,8,1):
    df=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/results/temp/2nd_stage_avg_age%s.dta'%i)

In [ ]:
df

In [ ]:
secondndstage2.head()

In [ ]:
secondndstage3.head()

In [ ]:
logit['_b_d_r1'].unique()

In [ ]:
logit['d_s'].unique()

In [ ]:
len(cols)

In [ ]:
cols=[x for x in logit.columns if "_b" in x]

In [ ]:
for x in [x for x in logit.columns if "_b" in x]:
    
    print(logit[x].unique())

In [ ]:
logit['d_s']