In [46]:
import pandas as pd
import numpy as np
import scipy.stats
import math
import warnings
warnings.filterwarnings("ignore")

In [59]:
####msa pop data
msa=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/second_stage_dataset_cl.dta')
sl=pd.read_excel('/Users/hannahkamen/Downloads/statelookup2.xlsx')
sl=sl.rename(columns={'abbrev':'q'})

#### (6) re-import GAMS results, merge with pop changes

In [60]:
##### import GAMS results
phou_rpt=pd.read_csv('/Users/hannahkamen/Downloads/phou_rpt0.csv')
del phou_rpt['ph_shock0']
del phou_rpt['file']
phou_rpt=phou_rpt.rename(columns={'sector':'ph_shock0'})

pl_rpt=pd.read_csv('/Users/hannahkamen/Downloads/pl_rpt0.csv')
pl_rpt=pl_rpt.pivot(index='region',columns='skill',values='pl_shock0').reset_index()
#### import pct change in pop by state
#### last_pop_shock=pd.read_csv('/Users/hannahkamen/Downloads/le0_shock0_v2.csv')

In [62]:
###merge all fields

r_df=phou_rpt.merge(pl_rpt, on='region')
r_df=r_df.rename(columns={'region':'q','ph_shock0':'ph','skl':'pl_skl','unskl':'pl_unskl'})
r_df=r_df.merge(sl,on='q')

In [65]:
r_df_lm.head()

   statefip abbrev      state        ph    pl_skl  pl_unskl
0        19     IA       iowa  0.994179  1.006040  1.024583
2        12     FL    florida  0.980834  1.083750  0.966108
4        24     MD   maryland  1.002638  0.981412  1.005523
6        39     OH       ohio  0.997670  0.997049  1.013421
8        47     TN  tennessee  0.999102  0.999293  0.998879

In [64]:
r_df_lm.to_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/gams_dta1_v2.dta')

In [55]:
r_df_lm[r_df_lm['state']=='arizona']['ph'].astype(float)*10000

14    10001.135266
Name: ph, dtype: float64

In [ ]:
####translates pop changes by skill into total population changes

In [ ]:
np.exp(tmp0['inc_hat'])

##### (9) map out migration flows

In [ ]:
#get sum of shares in all other states for people who chose states 1-44
#get ids that live in state s currentlly
master_map=pd.DataFrame()
for s in df_m['state'].unique():
    living_now=[]
    df_lm=df_m[(df_m['state']==s) & (df_m['chosen']==1)]
    ####list of ids currently living in state s
    living_now.append(list(df_lm['id'].unique())[0])
    ###limit dataframe to the ids of people living in state s
    tmp=df_m[df_m['id'].isin(living_now)]
    ####now groupby shares across all states
    tmp2=tmp.groupby(['state'],as_index=False).agg({'share':sum})
    ###tag origin state
    tmp2['living_flag']=s
    master_map=master_map.append(tmp2)
    
######merge with state populaiton
master_map0=master_map.merge(state_split,left_on='living_flag',right_on='state',how='inner')
master_map0=master_map0.rename(columns={'state_x':'moving_to'})

####get estimates for number of people leaving / going to
master_map0['arrive_moving_to']=master_map0['unskl_2']*master_map0['state_pop']

####merge in the msa codes

master_map0_lm=master_map0[master_map0['living_flag']=='texas']

###export texas test

master_map0_lm.to_csv('/Users/hannahkamen/Downloads/texas_out_unskl2.csv')

In [ ]:
map_dta=pd.read_csv('/Users/hannahkamen/Downloads/census_texas.csv')

In [ ]:
map_dta_lm=map_dta[map_dta['GEOID2'].str.contains(',')]

map_dta_lm['state']=map_dta_lm['GEOID2'].apply(lambda x: x.split(',')[1])
map_dta_lm['state']=map_dta_lm['GEOID2'].apply(lambda x: x.split(',')[1])

In [ ]:
map_dta_lm

In [ ]:
map_dta['state']

In [ ]:
list(map_dta['GEOID2'])

In [ ]:
master_map0.head()

In [ ]:
##test to see what is happening with temperature

In [ ]:
# df_tmp[df_tmp['state']=='washington']

In [ ]:
master_map.sort_values(by='share',ascending=False).head(100)

In [ ]:
master_map.head()

In [ ]:
df_lm

In [ ]:
master_map.head()

In [ ]:
df_test_gre

In [ ]:
df_tmp

In [ ]:
df_test_gre

In [ ]:
# df_m[(df_m['id']==3)& (df_m['state']=='california')][['msa','bpl','chosen','d_s','d_r1','d_r2','statefip','state']]

In [ ]:
df_test_gre['diff']=abs(df_test_gre['share']-df_test_gre['chosen'])

In [ ]:
df_test_gre['diff'].describe()

In [ ]:
# df_tmp=df_m.groupby(['msa'],as_index=False).agg({'fexthot_28':sum,'fextcold':sum,'state':max,'hot':sum,'cold':sum})

In [ ]:
# df_m[['msa','state','hot','cold','fexthot_28','fextcold']].head()

In [ ]:
len(df[(df['id']==4100)]['msa'].unique())

In [ ]:
list()

In [ ]:
logit_ready[logit_ready['chosen']==1]['d_s'].describe()

In [ ]:
df_lm=df[['msa','chosen','share']]

In [ ]:
df[df['chosen']==1]['share'].describe()

#### Import total population and process percent changes for Windc counterfactual

In [ ]:
#orig=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/dta/dta/acs5yr_0610_clr.dta')

#orig.groupby(['ageid'],as_index=False)

In [ ]:
###get shares by college graduates#impo
#educ_shares.to_csv('/Users/hannahkamen/Downloads/le0_shr2.csv',index=False)
# df['pct_col']=np.exp(df['lncoll'])
# df['pct_nc']=1-np.exp(df['lncoll'])
# df['coll_pop']=np.exp(df['lnpop'])*df['pct_col']
# df['population']=np.exp(df['lnpop'])

# df_tot=df.groupby(['statefip'],as_index=False).agg({'population':sum,'coll_pop':sum,'share':sum,'chosen':sum})
# df_tot['state_coll_shr']=df_tot['coll_pop']/df_tot['population']
# df_tot['pct_change']=(df_tot['share']-df_tot['chosen'])/df_tot['chosen']

In [ ]:
df[df['share'].isnull()]

In [ ]:
df

In [ ]:
list(df)

In [ ]:


df_st=df.groupby('statefip',as_index=False).agg({'share':sum,'population':sum,'chosen':sum,'id':'count'})
df_st['chosen'].sum()

In [ ]:
list(df)

In [ ]:
len(df['id'].unique())

In [ ]:
df_st.head()

In [ ]:
len(df_st['id'].unique())

In [ ]:
44*265

In [ ]:
df[df['id']==62973.0]

In [ ]:
len(df)

In [ ]:
df_st.head()

In [ ]:
len(df['statefip'].unique())

In [ ]:
df.groupby('id',as_index=False).agg({'share':sum})['share'].unique()

In [ ]:
df['msa'].unique()

In [ ]:
len(list(df['msa'].unique()))

In [ ]:
df.head()

In [ ]:
data.head()

In [ ]:
st_lkup=data.groupby(['statefip','str_statefip'],as_index=False).sum()[['statefip','str_statefip']]

In [ ]:
list(data)

In [ ]:
data['str_statefip'].unique()

In [ ]:
list(data)

In [ ]:
st_lkup

In [ ]:
data.head()

In [ ]:
len(data)

In [ ]:
list(data)

In [ ]:
len(logit)

In [ ]:
list(logit)

In [ ]:
logit.head()

In [ ]:
q

In [ ]:
logit.head()

In [ ]:
q.head()

In [ ]:
for i in np.arange(2,8,1):
    print(i)

In [ ]:
for i in np.arange(2,8,1):
    df=pd.read_stata('/Users/hannahkamen/Downloads/population-migration-master/estimation/1_main_specification/acs5yr0610/results/temp/2nd_stage_avg_age%s.dta'%i)

In [ ]:
df

In [ ]:
secondndstage2.head()

In [ ]:
secondndstage3.head()

In [ ]:
logit['_b_d_r1'].unique()

In [ ]:
logit['d_s'].unique()

In [ ]:
len(cols)

In [ ]:
cols=[x for x in logit.columns if "_b" in x]

In [ ]:
for x in [x for x in logit.columns if "_b" in x]:
    
    print(logit[x].unique())

In [ ]:
logit['d_s']