In [130]:
import pandas as pd
import numpy as np
import scipy.stats
import math
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
e1="1 Miami, FL 0.60 26 Vallejo–Fairfield–Napa, CA 1.14 2 Los Angeles–Long Beach, CA 0.63 27 Newark, NJ 1.16 3 Fort Lauderdale, FL 0.65 28 Charleston–North Charleston, SC 1.20 4 San Francisco, CA 0.66 29 Pittsburgh, PA 1.20 5 San Diego, CA 0.67 30 Tacoma, WA 1.21 6 Oakland, CA 0.70 31 Baltimore, MD 1.23 7 Salt Lake City–Ogden, UT 0.75 32 Detroit, MI 1.24 8 Ventura, CA 0.75 33 Las Vegas, NV–AZ 1.39 9 New York, NY 0.76 34 Rochester, NY 1.40 10 San Jose, CA 0.76 35 Tucson, AZ 1.42 11 New Orleans, LA 0.81 36 Knoxville, TN 1.42 12 Chicago, IL 0.81 37 Jersey City, NJ 1.44 13 Norfolk–Virginia Beach–Newport, VA-NC 0.82 38 Minneapolis–St. Paul, MN–WI 1.45 News, VA–NC 14 West Palm Beach–Boca Raton, FL 0.83 39 Hartford, CT 1.50 15 Boston–Worcester–Lawrence–Lowell–, MA 0.86 40 Springfield, MA 1.52 Brockton, MA–NH 16 Seattle–Bellevue–Everett, WA 0.88 41 Denver, CO 1.53 17 Sarasota–Bradenton, FL 0.92 42 Providence–Warwick–Pawtucket, RI 1.61 18 Riverside–San Bernardino, CA 0.94 43 Washington, DC–MD–VA–WV 1.61 19 New Haven–Bridgeport–Stamford, CT 0.98 44 Phoenix–Mesa, AZ 1.61 Danbury–Waterbury, CT 20 Tampa–St. Petersburg–Clearwater, FL 1.00 45 Scranton–Wilkes-Barre–Hazleton, PA 1.62 21 Cleveland–Lorain–Elyria, OH 1.02 46 Harrisburg–Lebanon–Carlisle, PA 1.63 22 Milwaukee–Waukesha, WI 1.03 47 Bakersfield, CA 1.64 23 Jacksonville, FL 1.06 48 Philadelphia, PA–NJ 1.65 24 Portland–Vancouver, OR–WA 1.07 49 Colorado Springs, CO 1.67 25 Orlando, FL 1.12 50 Albany–Schenectady–Troy, NY 1.70"
e2="51 Gary, IN 1.74 74 Atlanta, GA 2.55 52 Baton Rouge, LA 1.74 75 Akron, OH 2.59 53 Memphis, TN–AR–MS 1.76 76 Richmond–Petersburg, VA 2.60 54 Buffalo–Niagara Falls, NY 1.83 77 Youngstown–Warren, OH 2.63 55 Fresno, CA 1.84 78 Columbia, SC 2.64 56 Allentown–Bethlehem–Easton, PA 1.86 79 Columbus, OH 2.71 57 Wilmington–Newark, DE–MD 1.99 80 Greenville–Spartanburg–Anderson, SC 2.71 58 Mobile, AL 2.04 81 Little Rock–North Little Rock, AR 2.79 59 Stockton–Lodi, CA 2.07 82 Fort Worth–Arlington, TX 2.80 60 Raleigh–Durham–Chapel Hill, NC 2.11 83 San Antonio, TX 2.98 61 Albuquerque, NM 2.11 84 Austin–San Marcos, TX 3.00 62 Birmingham, AL 2.14 85 Charlotte–Gastonia–Rock Hill, NC–SC 3.09 63 Dallas, TX 2.18 86 Greensboro–Winston–Salem–High Point, NC 3.10 64 Syracuse, NY 2.21 87 Kansas City, MO–KS 3.19 65 Toledo, OH 2.21 88 Oklahoma City, OK 3.29 66 Nashville, TN 2.24 89 Tulsa, OK 3.35 67 Ann Arbor, MI 2.29 90 Omaha, NE–IA 3.47 68 Houston, TX 2.30 91 McAllen–Edinburg–Mission, TX 3.68 69 Louisville, KY–IN 2.34 92 Dayton–Springfield, OH 3.71 70 El Paso, TX 2.35 93 Indianapolis, IN 4.00 71 St. Louis, MO–IL 2.36 94 Fort Wayne, IN 5.36 72 Grand Rapids–Muskegon–Holland, MI 2.39 95 Wichita, KS 5.45 73 Cincinnati, OH–KY–IN 2.46"


test1=e1.split(", ")
test1_split=[x.split(" ") for x in test1]

test2=e2.split(", ")
test2_split=[x.split(" ") for x in test2]

city1=[]
for i in test1_split:
    city1.append(i[3:])
        
        
city2=[]
for i in test2_split:
    city2.append(i[3:])

data1=pd.DataFrame(data={'state':[x[0] for x in test1_split],'city':city1,'elasticity':[x[1] for x in test1_split]})
data2=pd.DataFrame(data={'state':[x[0] for x in test2_split],'city':city2,'elasticity':[x[1] for x in test2_split]})
data=data1.append(data2)

In [136]:
data.to_excel('/Users/hannahkamen/Downloads/elasticity_lookup.xlsx')
lookup=pd.read_excel('/Users/hannahkamen/Downloads/elasticity_lookup_final.xlsx')
lookup_gr=lookup.groupby('Unnamed: 0',as_index=False).min()
lookup_gr=lookup_gr.rename(columns={'Unnamed: 0':'','housing_elasticity':'housing_elasticity_raw'})

#scale housing elasticity

lookup_gr['housing_elasticity']=np.round((lookup_gr['housing_elasticity_raw']),4)
del lookup_gr['housing_elasticity_raw']
lookup_gr.sort_values(by='housing_elasticity',ascending=True).to_csv('/Users/hannahkamen/Downloads/elasticity_lookup_final_min.csv',index=False)

In [137]:
lookup_gr

        housing_elasticity
0   AK              1.9035
1   AL              2.0400
2   AR              2.5900
3   AZ              1.3900
4   CA              0.6300
5   CO              1.5300
6   CT              0.9800
7   DC              1.6100
8   DE              1.9900
9   FL              0.6000
10  GA              2.5500
11  HI              1.9035
12  IA              3.4700
13  ID              1.9035
14  IL              0.8100
15  IN              1.7400
16  KS              3.1900
17  KY              2.3400
18  LA              0.8100
19  MA              0.8600
20  MD              1.2300
21  ME              1.9000
22  MI              1.2400
23  MN              1.4500
24  MO              2.3600
25  MS              2.5900
26  MT              1.9035
27  NC              0.8200
28  ND              1.9035
29  NE              3.4700
30  NH              0.8600
31  NJ              1.1600
32  NM              2.1100
33  NV              1.3900
34  NY              0.7600
35  OH              1.0200
36  OK              3.2900
37  OR              1.6500
38  PA              1.2000
39  RI              1.6100
40  SC              1.2000
41  SD              1.9035
42  TN              1.4200
43  TX              2.1800
44  UT              0.7500
45  VA              0.8200
46  VT              1.9035
47  WA              0.8800
48  WI              1.0300
49  WV              1.9035
50  WY              1.9035