In [2]:
import pandas as pd
import numpy as np
import scipy.stats
import warnings
warnings.filterwarnings("ignore")

In [2]:
master2=pd.DataFrame()
for i,l in zip(np.arange(1,5,1),['21-25','26-30','31-35','36-40','41-45','46-50','51-55','56-60','61-65','66-70','71-']):
    second_stage=pd.read_stata('/Users/hannahkamen/Documents/population-migration2/results/temp/2nd_stage_avg_age%s.dta'%i)
    second_stage['age']=l
    del second_stage['string']
    master2=master2.append(second_stage)

In [3]:
master2.to_excel('/Users/hannahkamen/Downloads/second_stage_28_1519_adj.xlsx')

In [3]:
master=pd.DataFrame()
for i,l in zip(np.arange(1,12,1),['21-25','26-30','31-35','36-40','41-45','46-50','51-55','56-60','61-65','66-70','71-']):
    first_stage=pd.read_excel('/Users/hannahkamen/Documents/population-migration2/results/1st_stage_28_age%s.xlsx'%i)
    first_stage['age']=l
    master=master.append(first_stage)

In [4]:
master_pvt=master.pivot_table(index=['variable','age'],columns=['type'],values='value').reset_index()

In [7]:
master_pvt.to_excel('/Users/hannahkamen/Downloads/first_stage_28_1519.xlsx')

In [6]:
master_pvt_old=master_old.pivot_table(index=['variable','age'],columns=['type'],values='value').reset_index()

type variable    age        p-value  point estimate  std. err.
0     Cold_CA  21-25   0.000000e+00        0.025265   0.000655
1     Cold_CA  26-30   0.000000e+00        0.025514   0.000677
2     Cold_CA  31-35  2.823535e-234        0.023281   0.000712
3     Cold_CA  36-40  1.134531e-239        0.024087   0.000729
4     Cold_CA  41-45  3.406926e-262        0.025215   0.000729
..        ...    ...            ...             ...        ...
182   inc_hat  51-55   4.586167e-19        0.157846   0.017692
183   inc_hat  56-60   2.123291e-20        0.172247   0.018609
184   inc_hat  61-65   6.884294e-10        0.107307   0.017395
185   inc_hat  66-70   9.819036e-14        0.107473   0.014439
186   inc_hat    71-   2.651476e-11        0.089393   0.013413

[187 rows x 5 columns]

In [3]:
inc1=pd.read_stata('/Users/hannahkamen/Documents/population-migration2/dta/inchat_age1.dta')

In [4]:
inc1

,b_whi_1,b_mal_1,b_hsd_1,b_hsg_1,b_som_1,b_col_1,b_occ_1_1,b_occ_1_2,b_occ_1_3,b_occ_1_4,...,b_occ_252_14,b_occ_252_15,b_occ_252_16,b_occ_252_17,b_occ_252_18,b_occ_252_19,b_occ_252_20,b_occ_252_21,b_occ_252_22,b_occ_252_23
0,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
1,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
2,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
3,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
4,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
248,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
249,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
250,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875
251,0.238695,0.211983,10.102934,0.0,9.756851,9.882669,-0.243335,-0.938487,-0.20634,-0.150116,...,0.752391,0.183012,0.0,0.179275,0.392227,0.951418,1.316711,0.711433,1.07617,0.401875